/* @font-face {
    font-family: "Angel";
    src: url("Angel.TTF");

} */

/* @font-face {
    font-family: "StrangeDreams";
    src: url("Strange\ Dreams.ttf");
} */
@font-face {
    font-family: "Agency";
    src: url("AGENCYR.TTF");
} 